.sysea-similar-products {
  margin-top: 1.5rem;
  .product-slider.has-nav {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cms-element-product-slider {
    padding-top: 30px;
  }
}

@include media-breakpoint-down(xs) {
  .sysea-similar-products {
    .nav-tabs {
      padding: 0;
      border-bottom: 0;
      .nav-link {
        padding: 1.5rem 20px;
        border-bottom: 0;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .product-slider.has-nav {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}