{% block sw_cms_block_similar_products %}
    <div class="sw-cms-block-cross-selling">
        <div class="sw-cms-el-cross-selling"><h2 class="sw-cms-el-cross-selling__title">
                {{ $tc('sw-cms.blocks.commerce.similarProducts.label') }}
            </h2>
            <div class="sw-cms-el-cross-selling__content">
                <div class="sw-cms-el-cross-selling__navigation"><span
                            class="sw-cms-el-cross-selling__navigation-button sw-icon icon--default-arrow-head-left sw-icon--fill"
                            style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24" height="24" viewBox="0 0 24 24"><defs><path
                                        id="icons-default-arrow-head-left-a"
                                        d="M12.5,7.91421356 L22.7928932,18.2071068 C23.1834175,18.5976311 23.8165825,18.5976311 24.2071068,18.2071068 C24.5976311,17.8165825 24.5976311,17.1834175 24.2071068,16.7928932 L13.2071068,5.79289322 C12.8165825,5.40236893 12.1834175,5.40236893 11.7928932,5.79289322 L0.792893219,16.7928932 C0.402368927,17.1834175 0.402368927,17.8165825 0.792893219,18.2071068 C1.18341751,18.5976311 1.81658249,18.5976311 2.20710678,18.2071068 L12.5,7.91421356 Z"></path></defs><use
                                    fill="#758CA3" fill-rule="evenodd" transform="matrix(0 1 1 0 .5 -.5)"
                                    xlink:href="#icons-default-arrow-head-left-a"></use></svg></span></div>
                <div class="sw-cms-el-cross-selling__product-holder">
                    <div class="sw-cms-el-product-box box-standard">
                        <div class="sw-cms-el-product-box__content">
                            <div class="sw-cms-el-product-box__badges"><!----> <!----> <!----></div>
                            <div class="sw-cms-el-product-box__media"><a href="#" title="Lorem ipsum dolor"
                                                                         class="sw-cms-el-product-box__image-link"><img
                                            src="/bundles/administration/static/img/cms/preview_glasses_large.jpg"
                                            alt="Lorem Ipsum dolor" class="sw-cms-el-product-box__image"></a></div>
                            <div class="sw-cms-el-product-box__info">
                                <div class="sw-cms-el-product-box__skeleton-name"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-price"></div>
                                <div class="sw-cms-el-product-box__actions"><a href="#"
                                                                               class="sw-cms-el-product-box__buy-action">
                                        Add to cart
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-cms-el-product-box box-standard">
                        <div class="sw-cms-el-product-box__content">
                            <div class="sw-cms-el-product-box__badges"><!----> <!----> <!----></div>
                            <div class="sw-cms-el-product-box__media"><a href="#" title="Lorem ipsum dolor"
                                                                         class="sw-cms-el-product-box__image-link"><img
                                            src="/bundles/administration/static/img/cms/preview_glasses_large.jpg"
                                            alt="Lorem Ipsum dolor" class="sw-cms-el-product-box__image"></a></div>
                            <div class="sw-cms-el-product-box__info">
                                <div class="sw-cms-el-product-box__skeleton-name"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-price"></div>
                                <div class="sw-cms-el-product-box__actions"><a href="#"
                                                                               class="sw-cms-el-product-box__buy-action">
                                        Add to cart
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-cms-el-product-box box-standard">
                        <div class="sw-cms-el-product-box__content">
                            <div class="sw-cms-el-product-box__badges"><!----> <!----> <!----></div>
                            <div class="sw-cms-el-product-box__media"><a href="#" title="Lorem ipsum dolor"
                                                                         class="sw-cms-el-product-box__image-link"><img
                                            src="/bundles/administration/static/img/cms/preview_glasses_large.jpg"
                                            alt="Lorem Ipsum dolor" class="sw-cms-el-product-box__image"></a></div>
                            <div class="sw-cms-el-product-box__info">
                                <div class="sw-cms-el-product-box__skeleton-name"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-description"></div>
                                <div class="sw-cms-el-product-box__skeleton-price"></div>
                                <div class="sw-cms-el-product-box__actions"><a href="#"
                                                                               class="sw-cms-el-product-box__buy-action">
                                        Add to cart
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sw-cms-el-cross-selling__navigation"><span
                            class="sw-cms-el-cross-selling__navigation-button sw-icon icon--default-arrow-head-right sw-icon--fill"
                            style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24" height="24" viewBox="0 0 24 24"><defs><path
                                        id="icons-default-arrow-head-right-a"
                                        d="M11.5,7.91421356 L21.7928932,18.2071068 C22.1834175,18.5976311 22.8165825,18.5976311 23.2071068,18.2071068 C23.5976311,17.8165825 23.5976311,17.1834175 23.2071068,16.7928932 L12.2071068,5.79289322 C11.8165825,5.40236893 11.1834175,5.40236893 10.7928932,5.79289322 L-0.207106781,16.7928932 C-0.597631073,17.1834175 -0.597631073,17.8165825 -0.207106781,18.2071068 C0.183417511,18.5976311 0.816582489,18.5976311 1.20710678,18.2071068 L11.5,7.91421356 Z"></path></defs><use
                                    fill="#758CA3" fill-rule="evenodd" transform="rotate(90 11.5 12)"
                                    xlink:href="#icons-default-arrow-head-right-a"></use></svg></span></div>
            </div>
        </div>
        <slot name="emptySlot"></slot>
    </div>
{% endblock %}
