{% block sw_cms_block_cross_selling_preview %}
    <div class="sw-cms-block-preview-cross-selling">
        <h4>{{ $tc('sw-cms.blocks.commerce.similarProducts.label') }}</h4>
        <div class="sw-cms-block-preview-cross-selling__slider">
            <sw-icon name="default-arrow-head-left" size="10"></sw-icon>

            <template v-for="block in 4">
                {% block sw_cms_block_cross_selling_preview_box %}
                    <div class="sw-cms-block-preview-cross-selling__product-box">
                        <img class="sw-cms-block-preview-cross-selling__product-image"
                             :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">

                        <div class="sw-cms-block-preview-cross-selling__product-info">
                            <div class="sw-cms-block-preview-cross-selling__product-skeleton"></div>
                            <div class="sw-cms-block-preview-cross-selling__product-skeleton"></div>
                            <div class="sw-cms-block-preview-cross-selling__product-skeleton"></div>
                        </div>

                        <div class="sw-cms-block-preview-cross-selling__product-action"></div>
                    </div>
                {% endblock %}
            </template>

            <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
        </div>
    </div>
{% endblock %}
