{% block cms_block_similar_products %}
    <div class="col-12">
        {% block sysea_similar_products %}
        {% if page.similarProductsConfig is defined %}
            {% if page.similarProductsConfig.similarProducts.elements %}
                {% set similarProductsElement = page.similarProductsConfig.similarProducts.elements %}
                {% set container = page.similarProductsConfig.container %}
                <div class="sysea-similar-products">
                    {% if container %}
                        <div class="container">
                    {% endif %}
                    <div class="card card-tabs">
                        <div class="cms-element-product-listing-wrapper">
                            <ul class="nav nav-tabs product-detail-tab-navigation-list">
                                <li class="nav-item">
                                    <span class="nav-link active{% if container %} pl-0{% endif %}">{{ "sysea.similarProductsHeadline"|trans }}</span>
                                </li>
                            </ul>

                            {% set boxLayout = page.similarProductsConfig.boxLayout %}
                            {% set displayMode = page.similarProductsConfig.displayMode %}
                            {% if similarProductsElement and page.similarProductsConfig.apperance is same as("block") %}
                                {% set similarProducts = page.similarProductsConfig.similarProducts.elements %}
                                {% sw_include '@Storefront/storefront/component/product/sysea-similiar-products-block.html.twig' %}
                            {% elseif similarProductsElement and page.similarProductsConfig.apperance is same as("slider") %}
                                {% set products = page.similarProductsConfig.similarProducts %}
                                {% set navigation = page.similarProductsConfig.navigation %}
                                {% set elMinWidth = page.similarProductsConfig.elMinWidth %}
                                {% sw_include '@Storefront/storefront/component/product/sysea-similiar-products-slider.html.twig' %}
                            {% endif %}

                        </div>
                    </div>
                    {% if container %}
                        <div class="container"></div>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% endblock %}
    </div>
{% endblock %}