<div class="cms-element-product-listing card-body">
    <div class="row cms-listing-row js-listing-wrapper">
        {% for product in similarProducts %}
            <div class="cms-listing-col col-sm-6 col-lg-4 col-xl-3">
                {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                    'layout': boxLayout,
                    'displayMode': displayMode
                } %}
            </div>
        {% endfor %}
    </div>
</div>