{% set config = {
    'title': {
        'value': null
    },
    'border': {
        'value': false
    },
    'rotate': {
        'value': false
    },
    'products': {
        'value': products
    },
    'boxLayout': {
        'value': boxLayout
    },
    'elMinWidth': {
        'value': elMinWidth
    },
    'navigation': {
        'value': navigation
    },
    'displayMode': {
        'value': displayMode
    },
    'verticalAlign': {
        'value': center
    }
} %}

{% sw_include "@Storefront/storefront/element/cms-element-product-slider.html.twig" with {
    sliderConfig: config,
    element: {
        'data': {
            'products': products
        },
        type: 'product-slider'
    }
} only %}